:root {
      --main-font: 'Roboto', sans-serif;
      --secondary-font:'Raleway', sans-serif;
      --main-color:#2196F3;
      --main-black: #212121;
      --main-grey: #757575;
      --color-backgroudn: #2f303a;
      --white: #ffffff;
      --black: #000000;
      --btn-backround: #f5f4fa;
      --border-color: #ececec;
      --link-color: #afb1b8;
      }

body {
    font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {margin: 0;
    padding: 0;}
ul,
ol {padding: 0;
    margin: 0;}
p {
    padding:0;}

img{
    display: block;
}


.container{
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    }

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

    
/* HEADER */ 

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    }

.navigation{ 
    display: flex;
    align-items: center;
    } 

.navigation-list{
    display: flex;
    align-items: center;
    }

.navigation-list-item:not(:last-child) {
    margin-right: 46px;
}
 
.logo{
    margin-right: 46px;
}


.logo{ color: var(--main-black);
       font-weight: 700;
       font-family: var(--secondary-font);
       font-style: bold;
       font-size: 26px;
       text-decoration: none;
     }
.logo-dizajn{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    font-style: bold;
    line-height: 1.193;
    letter-spacing: 3%;
    color: var(--main-color);
    text-decoration: none;
    }


.navigation-list{ list-style: none;}
.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 2%;
    color: var(--main-black);
    text-decoration: none;
    }
.navigation-list-item:not(:last-child){
    margin-right: 46px;
}


.navigation-list-link:hover,
.navigation-list-link:focus {color: var(--main-color);}

.header.address {
    display: flex;
    margin-left: auto;
    margin-right: 50px;
}
.address {margin-bottom: 32px;}

.address-mail {
    margin-right: 41px ;
}


.address-mail,
.address-phone {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1429;
    letter-spacing: 2%;
    color: var(--main-grey);
    text-decoration: none;
}

.address-mail:hover,
.address-mail:focus {
    color: var(--main-color);
}

.address-phone:hover,
.address-phone:focus {
    color: var(--main-color);
}

/* END HEADER */
 
/* MAIN */

/* hero*/
.hero {background-color: var(--color-backgroudn);
       padding-top: 200px;
       padding-bottom: 210px;
       background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
       url("/goit-markup-hw-04/images/backgroundfoto.jpg");
       background-size: 1600px 600px;
       background-position: center;
       background-repeat: no-repeat;
}
.hero .container {
    text-align: center;
    margin-right: auto;
    margin-left: auto; 
}
.main-header{
    font-family: var(--secondary-font);
    font-weight: 900;
    font-style: var(--black);
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 6%;
    color: var(--white);
    margin-bottom: 40px;
}
.modal-btn{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 6%;
    color: var(--white); 
    background-color: var(--main-color);
    display: block;
    box-shadow: 0px 4px 4px rgba(0,0,0, 0.15);
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 41px 10px 41px;
    margin-right: auto;
    margin-left: auto;
}
/* end hero*/

/* agencja*/
.agency  {
    margin-top: 94px;
    margin-bottom: 94px;
}
.agency .agency-box {
    display: flex;
    justify-content: space-between;
}

.agency .agency-box-box {
    width: calc((100%- 3*30px)/4); 
}

.agency-box{list-style: none;}
.header-three{
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 3%;
    color: var(--main-black);
    margin-bottom: 10px;
}
.description-text{
    font-weight: 400; 
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 3%;
    color: var(--main-grey);
}


/* end agencja*/
/*portfolio*/


.portfolio-list{
   list-style: none;
   margin-bottom: 94px;
}

.portfolio {
    display: flex;

}
.portfolio .portfolio-list {
    display: flex;
    justify-content: space-between;
    }


.header-two{
    font-style: bold;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 3%;
    color: var(--main-black);
    text-align: center;
    margin-bottom: 50px;
  
}
/* end portfolio*/
/*kontakt*/


.contact-list{list-style: none;}

.contact{
    display: flex;
    background-color: var(--btn-backround);
    }

.contact .contact-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 94px;
}

.contact-list-socialmedia {
   display: flex; 
   list-style: none;
   align-items: center;
   justify-content: space-between;
   background-color: var(--white);
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: var(--link-color);
}
.socialmedia-link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.contact-list-socialmedia:hover,
.contact-list-socialmedia:focus {
    fill: var(--main-color); 
}


.contact-list-item {background-color: var(--white);}

.contact .container {margin-top: 100px;}

.header-three-contact{
    font-style: medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 3%;
    text-align: center;
    color: var(--main-black);
    margin-top: 30px;
    margin-bottom: 10px;
}
.description-text-contact{
    font-weight: 400; 
    font-size: 16px;
    line-height: 1.186;
    letter-spacing: 3%;
    text-align: center;
    color: var(--main-grey);
    margin-bottom: 16px;
}

/*end kontakt*/
/* END MAIN */
.endpage{background-color: var(--color-backgroudn);
padding-top: 60px;
padding-bottom: 60px;}

.logoend { margin-bottom: 20px;}
.address-mail .address-phone:not(last-child)
{
    margin-bottom: 9px;
}
.address{ margin-top: 20px}
.address{ color: var(--white);
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 1.714;
    letter-spacing: 3%;
    text-decoration: none;
}
.logoend{ color: var(--white);
    font-weight: 700;
    font-family: var(--secondary-font);
    font-style: bold;
    font-size: 26px;
    text-decoration: none;
}
 .logo-dizajn-end {
     font-family: var(--secondary-font);
     font-weight: 700;
     font-size: 26px;
     font-style: bold;
     line-height: 1.193;
     letter-spacing: 3%;
     color: var(--main-color);
     text-decoration: none;
}

/*porfolio*/

.btn-list{list-style: none;
    }

.btn-list-text{
    font-family: var(--main-font);
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 3%;
    color: var(--black); 
    background-color: var(--btn-backround);
    border-style: none;
    border-radius: 4px;
    text-align: center;
    padding: 6px 22px;
}

.porfolio-btn {
    margin-bottom: 94px;
    margin-top: 94px;

}
.btn-list {
margin-bottom: 50px;
display: flex;
justify-content: center;
}

.btn-list-item :not(last-child) {
    margin-right: 8px;
}




.btn-list-text:hover,
.btn-list-text:focus{
    background-color: var(--main-color);
    color: var(--white);
    cursor: pointer;
    border-style: none;
}
.main-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 94px;
    }

.main-list-item {
    width: calc((100%/3));
    margin-top: 50px;
    /*border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color); */
    width: 370px;
    }

 /*img {margin-bottom: 20px;} */
      
.main-list-item :nth-last-child()
{margin-right: 30px;}


.main-list-header{
    font-weight: 700;
    font-style: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
    color: var(--main-black);
    margin-left: 24px;
    margin-bottom: 4px;
    margin-top: 20px;
}
.main-list-text{
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 3%;
    color: var(--main-grey);
    margin-left: 24px;
}
.border-text{
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
} 
    
